<!--The content below is only a placeholder and can be replaced.-->
<div style="container">
  <img width="300" alt="Total Sorcery Logo. A t and an a inside of a triangle" src="/assets/img/TS-logo.jpg">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <p>
    guitar pedals and pickups made by human hands in beautiful Pennsylvania
  </p>
</div>
<!-- <section class="container"></section> -->

<router-outlet></router-outlet>
