/* You can add global styles to this file, and also import other style files */
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    text-align:center
    
}

h1{
    font-weight: bolder;
}

p{
    font-size: 1rem;
}